
.Button {
  align-items: flex-start;
  background: linear-gradient(
        90deg,
        rgb(148.2, 179.82, 248.04) 2%,
        rgb(144.46, 154.12, 241.08) 14.5%,
        rgb(143.53, 131.56, 217.07) 30.5%,
        rgb(64.64, 0, 248.63) 87%
    );
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  padding: 12px 28px;
  position: relative;
}

.Button .text-wrapper {
  color: #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}